<div style="text-align:center">
  <h3>Rate My Cakes</h3>
  <img width="30" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<form #cakeForm="ngForm" (submit)="addNewcake()">
  <p>Submit a cake to be rated</p>
  <p>{{ newCake | json}}</p>
  
  <label for="newCake.name">Name: ____</label>
  <input type="text" name="newCake.name" [(ngModel)]="newCake.name"><br>
  <label for="newCake.imgurl">Image URL:</label>
  <input type="text" name="newCake.imgurl" [(ngModel)]="newCake.imgurl"><br>
  <input type="submit" value="SUBMIT">
</form>

<!-- <form #reviewForm="ngForm">
  <p>Submit a rating:</p>
  {{ reviewForm.value | json }}<br>
  <label for="rate">Rating: __</label>
  <input type="text" name="rate" ngModel><br>
  <label for="cmt">Comment:</label>
  <input type="text" name="cmt" ngModel><br>
  <input type="submit" value="SUBMIT">

</form> -->
<br>
<br>

======================
<div style="overflow: scroll; max-height: 400px;">
  <h3>List of Cakes:</h3>
  
  <div *ngIf="showCakes"> 
    <!-- only read data when it's there -->
    <div *ngFor="let i of allCakes['data']"> 
      {{i.name}} 
      <img src={{i.imgurl}} width="50"> 
      <!-- <button (click)="deleteOneCake(i._id)" >Delete</button>
      <button (click)="showUpdateForm(i)" >Update</button> -->
        {{ i._id | json }}
      <form (submit)="addNewReview(rvForm.value, i._id)" #rvForm="ngForm">
        <p>{{ rvForm.value | json }}</p>
        <select name="rate" ngModel >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label for="">Comment: </label>
        <input type="text" name="cmt" ngModel>
        <input type="submit" value="Rate!">
        <input type="hidden" [(ngModel)]="i._id" name = "cakeid" ngModel>
      </form>
    </div> 
  </div>
</div>
======Display A Cake=========
<app-displaycake></app-displaycake>
